<html>
    <head>
        <title>about me</title>
    </head>
    <body>
        <%- include('navbar', {links: links}) %>
        <div> name: <%= name%></div>
        <p> lorum ipsum jipsum saltus asmodious  lorum!</p>
        <%-include('footer')%>
    </body>
</html>